@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

:root {
    --font-primary: "OCR A", ocr-a-extended;

    --colour-white: #FFFFFF;
    --colour-purple: #6553B0;
    --colour-green: #8AD3C3;
    --colour-black: #222222;
    --colour-yellow: #F6E61F;
    --colour-grey: #8F8F8F;
    }

    /* NAVIGATION */
    .icon-bar {
        display: flex;
        height: 85px;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
    }

    

    .icon-bar > a {
        width: 25%;
        display: block;
        margin: auto;
    }

    .back-button {
        width: 5%;
        height: 30px;
        width: 30px;
        margin: auto;
        font-size: 30px;
        cursor: pointer;
        padding-left: 60px;
    }

    .search-results {
        height: 85px;
        font-size: 30px;
        padding-top: 27.5px;
        color: var(--colour-white);
    }

    .logo {
        background-color: var(--colour-purple);
        color: var(--colour-white);
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        /* padding-right: 80px; */
    }
    
    .icon-bar-nav {
        width: 20%;
        margin: auto;
    }

    .icon-bar-nav > * {
        margin-left: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }


    .nav {
        height: 35px;
        background: var(--colour-green);
        padding-top: 90px;
        border-radius: 0 0 20px 20px;
        text-align: center;
    }

    .nav a {
        color: var(--colour-white);
        text-decoration: none;
        padding: 14px 16px;
        font-size: 25px;
    }

    a:hover {
        color: var(--colour-grey);
    }

    /* BODY */
    body {
        font-family: var(--font-primary);
    }


    /* PRODUCT LIST */
    .payment-method {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        }
    .shipping-to {
        display: flex;
        flex-direction: row;
    }

    h3 {
        margin-left: 10vw;
        font-weight: 500;
        font-size: 2vw;
        margin-bottom: 15px;
        margin-top: 35px;
    }


    /* SHIPPING TO */        
    .address-1 {
        width: 30vw;
        height: 8vw;
        background-color: #F3F3F3;
        margin: 10px 0 10px 10vw;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
        display: flex;
    }
    .address-2 {
        width: 30vw;
        height: 8vw;
        background-color: #F3F3F3;
        margin: 10px 0 10px 25px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
        display: flex;
    }

    /* ELEMENT DESIGN */
    .icon {
        width: 6vw;
        margin: 1vw;
    }

    .first-line {
        display: flex;
    }

    .address-first-line {
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-left: 0vw;
        margin-bottom: 0vw;
    }
    .address-second-line {
        color: var(--colour-grey);
        margin-left: 0vw;
        font-size: 1.5vw;
        margin-top: 0.7vw;
    }

    .checkbox-1 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 2vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
        color: var(--colour-green);
    }
    .checkbox-2 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 1.1vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
    }


    /* PAYMENT METHOD */        
    .box-1 {
        width: 30vw;
        height: 8vw;
        background-color: var(--colour-white);
        margin: 10px 10vw;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
        display: flex;
    }
    .box-2 {
        width: 30vw;
        height: 8vw;
        background-color: var(--colour-white);
        margin: 10px 10vw;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
        display: flex;
    }
    .box-3 {
        width: 30vw;
        height: 8vw;
        background-color: var(--colour-white);
        margin: 10px 10vw;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
        display: flex;
    }


    .address-radio-1 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 2vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
        color: var(--colour-green);
    }
    .address-radio-2 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 3vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
    }

    /* ELEMENT DESIGN */
    .payment-icon {
        width: 6vw;
        margin: 1vw;
    }

    .first-line {
        display: flex;
    }

    .uid {
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-left: 0vw;
    }
    .method {
        color: var(--colour-grey);
        margin-left: 0vw;
        font-size: 1.5vw;
        margin-top: 0.6vw;
    }

    .radio-1 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 2vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
        color: var(--colour-green);
    }
    .radio-2 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 1.1vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
    }
    .radio-3 {
        display: flex;
        margin: 0;
        margin-top: 3.25vw;
        margin-left: 2vw;
        width: 1.5vw;
        height: 1.5vw;
        cursor: pointer;
    }

    /* <!-- ORDER INFO --> */

    hr {
        margin-top: 5vw;
        margin-bottom: 1vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .order-info {
        margin: 0 10vw;
        display: flex;
        justify-content: space-between;
        color: var(--colour-grey);
        font-size: 2vw;
    }
    .amount {
        text-align: right;
    }
    .total {
        font-size: 2.5vw;
        color: var(--colour-black);
    }

    .checkout-button {
        background-color: var(--colour-purple);
        color: var(--colour-white);
        cursor: pointer;
        font-size: 3vw;
        height: 4vw;
        width: 18vw;
        margin-left: 72vw;
        margin-top: 3vw;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 10px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-grey)
    }


    /* FOOTER */
    .footer {
        height: 130px;
        background-color: var(--colour-purple);
        border-radius: 20px 20px 0 0;
        text-align: center;
        margin-top: 5vw;
    }

    .subscribe-text {
        font-size: 16px;
        color: var(--colour-white);
        padding-bottom: 8px;
    }

    .footer input {
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 5px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-white)
    }

    .subscribe-button {
        background-color: var(--colour-green);
        color: var(--colour-white);
        cursor: pointer;
    }

    .footer-link {
        padding-bottom: 2px;
    }

    .footer-link a {
        font-size: 16px;
        color: var(--colour-yellow);
        text-decoration: none;
        color: var(--colour-yellow);
        padding: 0px 15px;
    }

    .footer-link :hover {
        color: var(--colour-green);
    }

    .copyright-text {
        font-size: 16px;
        color: var(--colour-grey);
    }

    /* RESPONSIVE DESIGN */
    @media only screen and (max-width: 1189px) {
        .logo {
            visibility: hidden;
            margin: 0;
        }

        .nav {
            height: 55px;
            background: var(--colour-green);
            padding-top: 90px;
            border-radius: 0 0 20px 20px;
        }
        
        .icon-bar-nav {
            width: 25%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 1125px) {
        .album-title {
            margin-left: 1.5vw;
        }
        .singer {
            margin-left: 1.4vw;
        }
        .product-icon {
            margin-left: 1.4vw;
        }
    }

    @media only screen and (max-width: 875px) {
        .singer {
            margin-left: 2vw;
        }
        .product-icon {
            margin-left: 2vw;
        }
    }

    @media only screen and (max-width: 600px) {
        .nav a {
            color: var(--colour-white);
            text-decoration: none;
            padding: 14px 16px;
            font-size: 18px;
            margin: 2px;
        }
    }

    @media only screen and (max-width: 865px) {
        .footer {
            height: 160px;
        }
        .icon-bar-nav {
            width: 25%;
            margin: auto;
        }
        .search-results {
            width: 35%;
        }
    }

    @media only screen and (max-width: 420px) {
        .footer {
            height: 190px;
        }
        .icon-bar-nav > * {
            margin-left: 5px;
            width: 25px;
            height: 25px;
        }
    }

    @media only screen and (max-width: 768px) {
        /* IMPROVE HEADER */
        .icon-bar {
            height: 155px;
        }

        .nav {
            visibility: hidden;
        }

        .back-button {
            width: 20px;
            height: 20px;
        }
        .search-results {
            font-size: 22px;
            padding-top: 120px;
            width: 32%;
        }
        .icon-bar-nav {
            width: 18%;
        }
        .icon-bar-nav > * {
            margin-left: 5px;
            width: 20px;
            height: 20px;
        }

        /* IMPROVE FOOTER */
        .subscribe-text {
            font-size: 14px;
        }

        .footer-link a {
            font-size: 14px
        }

        .copyright-text {
            font-size: 14px;
        }

        .footer {
            height: 145px;
        }

    /* PRODUCT BOX RESPONSIVE DESIGN */ 
    /* SHIPPING TO */   
    .shipping-to {
        display: flex;
        white-space: nowrap;
        overflow: auto;
    }     
    .address-1 {
        width: 80vw;
        height: 20vw;
    }
    .address-2 {
        width: 80vw;
        height: 20vw;
        display: flex;
    }

    /* ELEMENT DESIGN */
    h3 {
        font-size: 7vw;
    }
    .icon {
        width: 16vw;
        margin: 2vw;
    }

    .first-line {
        display: flex;
    }

    .address-first-line {
        font-size: 4vw;
        margin-top: 2vw;
        margin-left: 0vw;
        margin-bottom: 0vw;
    }
    .address-second-line {
        color: var(--colour-grey);
        margin-left: 0vw;
        font-size: 4vw;
        margin-top: 1vw;
    }

    .address-radio-1 {
        display: flex;
        margin: 0;
        margin-top: 7vw;
        margin-right: 2vw;
        width: 6vw;
        height: 6vw;
        cursor: pointer;
    }
    .address-radio-2 {
        display: flex;
        margin: 0;
        margin-top: 7vw;
        margin-right: 2vw;
        width: 6vw;
        height: 6vw;
        cursor: pointer;
    }

    /* PAYMENT METHOD */        
    .box-1 {
        width: 80vw;
        height: 20vw;
        margin: 10px 10vw;
        display: flex;
    }
    .box-2 {
        width: 80vw;
        height: 20vw;
        margin: 10px 10vw;
        display: flex;
    }
    .box-3 {
        width: 80vw;
        height: 20vw;
        margin: 10px 10vw;
        display: flex;
    }

    /* ELEMENT DESIGN */
    .payment-icon {
        width: 16vw;
        margin: 2vw;
    }

    .uid {
        font-size: 4vw;
        margin-top: 2vw;
        margin-left: 0vw;
    }
    .method {
        color: var(--colour-grey);
        margin-left: 0vw;
        font-size: 4vw;
        margin-top: 1vw;
    }

    .radio-1 {
        display: flex;
        margin: 0;
        margin-top: 7vw;
        margin-left: 6vw;
        height: 6vw;
        width: 6vw;
    }
    .radio-2 {
        display: flex;
        margin: 0;
        margin-top: 7vw;
        margin-left: 3.5vw;
        height: 6vw;
        width: 6vw;
    }
    .radio-3 {
        display: flex;
        margin: 0;
        margin-top: 7vw;
        margin-left: 5.8vw;
        height: 6vw;
        width: 6vw;
    }

    /* ORDER INFO */
    .order-info {
        font-size: 5vw;
    }

    .total {
        font-size: 6vw;
    }

    .checkout-button {
        font-size: 6vw;
        height: 13vw;
        width: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        margin-top: 8vw;
    }



    }
    
    @media only screen and (max-width: 581px) {
        .back-button {
            width: 18px;
            padding-left: 5px;
        }
        .search-results {
            padding: 0;
            padding-top: 60px;
            padding-left: 10px;
            font-size: 30px;
            width: 5%;
        }
        .icon-bar-nav {
            width: 30%;
        }
    }


    @media only screen and (max-width: 395px) {
        .footer {
            height: 165px;
        }
    }


        /* FOOTER RESPONSIBLE DESIGN */

        @media only screen and (max-width: 380px) {
            .footer {
                height: 180px;
                margin-top: 30px;
            }
        }

