@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

:root {
    font-size: 16px;
    
    --font-primary: "OCR A", ocr-a-extended;

    --colour-bg-white: #FFFFFF;
    --colour-bg-purple: #6553B0;
    --colour-bg-green: #8AD3C3;

    --colour-text-white: #FFFFFF;
    --colour-text-black: #222222;
    --colour-text-yellow: #F6E61F;
    --colour-text-grey: #8F8F8F;
    }