@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1000px;
    margin: auto;
}

:root {
    --font-primary: "OCR A", ocr-a-extended;

    --colour-white: #FFFFFF;
    --colour-purple: #6553B0;
    --colour-green: #8AD3C3;
    --colour-black: #222222;
    --colour-yellow: #F6E61F;
    --colour-grey: #8F8F8F;
    }

    /* NAVIGATION */
    .icon-bar {
        display: flex;
        height: 85px;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
    }

    .icon-bar > a {
        width: 50%;
        display: block;
        height: 145px;
        height: 85px;
        margin: auto;
    }

    .confirmation {
        width: 15%;
        height: 85px;
        margin: auto;
        font-size: 30px;
        padding-top: 27.5px;
        color: var(--colour-white);
    }

    .logo {
        float: left;
        height: 85px;
        width: 144.96px;
        background-color: var(--colour-purple);
        color: var(--colour-white);
        font-size: 40px;
        text-align: center;
        text-decoration: none;
    }
    
    .icon-bar-nav {
        width: 15%;
        margin: auto;
    }

    .icon-bar-nav > * {
        margin-left: 15px;
        width: 30px;
        height: 30px;
    }

    .nav {
        height: 35px;
        background: var(--colour-green);
        padding-top: 90px;
        border-radius: 0 0 20px 20px;
        text-align: center;
    }

    .nav a {
        color: var(--colour-white);
        text-decoration: none;
        padding: 14px 16px;
        font-size: 25px;
    }

    a:hover {
        color: var(--colour-grey);
    }

    /* BODY */
    body
    {
        font-family: var(--font-primary);
    }
    h3 {
        font-family: var(--font-primary);
    }

    hr {
        padding-bottom: 2px;
    }

    p {
        font-family: var(--font-primary);
        font-size: 16px;
        color: var(--colour-grey);
    }
 

    .footer {
        font-family: var(--font-primary);
        text-align: center;
        text-decoration: none;
    }

    /* FOOTER */
    .footer {
        height: 130px;
        background-color: var(--colour-purple);
        border-radius: 20px 20px 0 0;
    }

    .subscribe-text {
        font-size: 16px;
        color: var(--colour-white);
        padding-bottom: 8px;
    }

    input {
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 5px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-white)
    }

    .subscribe-button {
        background-color: var(--colour-green);
        color: var(--colour-white);
    }

    .subscribe-button :hover {
        background-color: var(--colour-purple);
    }

    .footer-link {
        padding-bottom: 2px;
    }

    .footer-link a {
        font-size: 16px;
        color: var(--colour-yellow);
        text-decoration: none;
        color: var(--colour-yellow);
        padding: 0px 15px;
    }

    .footer-link :hover {
        color: var(--colour-green);
    }

    .copyright-text {
        font-size: 16px;
        color: var(--colour-grey);
    }
