@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1000px;
    margin: auto;
}

:root {
    --font-primary: "OCR A", ocr-a-extended;

    --colour-white: #FFFFFF;
    --colour-purple: #6553B0;
    --colour-green: #8AD3C3;
    --colour-black: #222222;
    --colour-yellow: #F6E61F;
    --colour-grey: #8F8F8F;
    }


    /* NAVIGATION */
    .icon-bar {
        display: flex;
        height: 85px;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
    }

    .icon-bar > a {
        width: 50%;
        display: block;
        height: 145px;
        height: 85px;
        margin: auto;
    }

    .back-button {
        width: 5%;
        height: 30px;
        width: 30px;
        margin: auto;
        font-size: 30px;
        /* padding-top: 27.5px; */
        /* margin-left: 30px; */
        cursor: pointer;
        padding-left: 80px;
        padding-right: 65px;
    }

    .logo {
        float: left;
        /* height: 85px;
        width: 144.96px; */
        background-color: var(--colour-purple);
        color: var(--colour-white);
        font-size: 40px;
        text-align: center;
        text-decoration: none;
    }
    
    .icon-bar-nav {
        width: 15%;
        margin: auto;
    }

    .icon-bar-nav > * {
        margin-left: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav {
        height: 35px;
        background: var(--colour-green);
        padding-top: 90px;
        border-radius: 0 0 20px 20px;
        text-align: center;
    }

    .nav a {
        color: var(--colour-white);
        text-decoration: none;
        padding: 14px 16px;
        font-size: 25px;
    }

    /* BODY */
    .top-part {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        }

    .cover {
        /* height: 380px; */
        width: 37%;
        height: 37%;
        margin: 30px 0;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
    }

    .main-info {
        width: 63%;
        margin-top: 30px;
        margin-left: 30px;
    }

    .album-title {
        font-size: 30px;
    }

    .price {
        height: 20px;
        background-color: #F7EDE1;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin-top: 328px;
        /* margin-top: 77.5%; */
        /* width: 20%; */
        margin-right: 505px;
        /* margin-right: 113%; */
        display: flex;
        font-size: 16px;
    }

    .main-info-icon {
        /* margin: 0 10px; */
        display: flex;
        flex-direction: row;
        /* width: 63%; */
        /* margin: auto; */
        /* margin-top: 77.5%; */
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        padding-left: 200px;
        /* padding-left: 20%; */
        
    }

    .main-info-icon img {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-top: 325px;
        height: 45px;
        width: 45px;
        /* cursor: pointer; */
    }


    body {
        font-family: var(--font-primary);
    }

    .top-part {
        margin: auto;
        width: 70%;
        height: 30%;
        justify-content:flex-start;
    }

    .description {
        margin: auto;
        width: 70%;
        justify-content: space-between;
    }


    h3 {
        font-family: var(--font-primary);
    }

    hr {
        padding-bottom: 2px;
    }

    p {
        font-family: var(--font-primary);
        font-size: 16px;
        color: var(--colour-grey);
    }
 

    .footer {
        font-family: var(--font-primary);
        text-align: center;
        text-decoration: none;
    }

    /* FOOTER */
    .footer {
        height: 130px;
        background-color: var(--colour-purple);
        border-radius: 20px 20px 0 0;
    }

    .subscribe-text {
        font-size: 16px;
        color: var(--colour-white);
        padding-bottom: 8px;
    }

    input {
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 5px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-white)
    }

    .subscribe-button {
        background-color: var(--colour-green);
        color: var(--colour-white);
        cursor: pointer;
    }

    .footer-link {
        padding-bottom: 2px;
    }

    .footer-link a {
        font-size: 16px;
        color: var(--colour-yellow);
        text-decoration: none;
        color: var(--colour-yellow);
        padding: 0px 15px;
    }

    .footer-link :hover {
        color: var(--colour-green);
    }

    .copyright-text {
        font-size: 16px;
        color: var(--colour-grey);
    }


        /* RESPONSIVE DESIGN */
    @media only screen and (max-width: 1185px) {
        .logo {
            visibility: hidden;
            margin: 0;
        }

        .confirmation {
            font-size: 25px;
        }

        .nav {
            height: 55px;
            background: var(--colour-green);
            padding-top: 90px;
            border-radius: 0 0 20px 20px;
        }
        
        .icon-bar-nav {
            width: 25%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 600px) {
        .nav a {
            color: var(--colour-white);
            text-decoration: none;
            padding: 14px 16px;
            font-size: 18px;
            margin: 2px;
        }
    }

    @media only screen and (max-width: 865px) {
        .footer {
            height: 160px;
        }
        .icon-bar-nav {
            width: 50%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 420px) {
        .footer {
            height: 190px;
        }
        .icon-bar-nav > * {
            margin-left: 5px;
            width: 25px;
            height: 25px;
        }
    }

    @media only screen and (max-width: 768px) {
        .icon-bar {
            height: 155px;
        }

        .confirmation {
            font-size: 30px;
            padding-top: 110px;
            padding-left: 20px;
        }

        .confirmation-image {
            margin-top: 60px;
        }

        .nav {
            visibility: hidden;
        }

        .ordernumber {
            font-size: 18px;
        }

        .subscribe-text {
            font-size: 14px;
        }

        .footer-link a {
            font-size: 14px
        }

        .copyright-text {
            font-size: 14px;
        }

        .footer {
            height: 145px;
            margin-top: 60px;
        }
    }

    @media only screen and (max-width: 395px) {
        .footer {
            height: 165px;
        }
    }

        /* RESPONSIVE DESIGN */
        @media only screen and (max-width: 1185px) {
            .logo {
                visibility: hidden;
                margin: 0;
            }
    
            .confirmation {
                font-size: 25px;
            }
    
            .nav {
                height: 55px;
                background: var(--colour-green);
                padding-top: 90px;
                border-radius: 0 0 20px 20px;
            }
            
            .icon-bar-nav {
                width: 25%;
                margin: auto;
            }
        }
    
        @media only screen and (max-width: 600px) {
            .nav a {
                color: var(--colour-white);
                text-decoration: none;
                padding: 14px 16px;
                font-size: 18px;
                margin: 2px;
            }
        }
    
        @media only screen and (max-width: 865px) {
            .footer {
                height: 160px;
            }
            .icon-bar-nav {
                width: 50%;
                margin: auto;
            }
        }
    
        @media only screen and (max-width: 420px) {
            .footer {
                height: 190px;
            }
            .icon-bar-nav > * {
                margin-left: 5px;
                width: 25px;
                height: 25px;
            }
        }
    
        @media only screen and (max-width: 768px) {
            .icon-bar {
                height: 155px;
            }
    
            .confirmation {
                font-size: 30px;
                padding-top: 110px;
                padding-left: 20px;
            }
    
            .confirmation-image {
                margin-top: 60px;
            }
    
            .nav {
                visibility: hidden;
            }
    
            .ordernumber {
                font-size: 18px;
            }
    
            .subscribe-text {
                font-size: 14px;
            }
    
            .footer-link a {
                font-size: 14px
            }
    
            .copyright-text {
                font-size: 14px;
            }
    
            .footer {
                height: 145px;
                margin-top: 60px;
            }
        }
