@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1000px;
    margin: auto;
}

:root {
    --font-primary: "OCR A", ocr-a-extended;

    --colour-white: #FFFFFF;
    --colour-purple: #6553B0;
    --colour-green: #8AD3C3;
    --colour-black: #222222;
    --colour-yellow: #F6E61F;
    --colour-grey: #8F8F8F;
    }


    /* NAVIGATION */
    .icon-bar {
        display: flex;
        height: 85px;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
    }

    .icon-bar > a {
        width: 50%;
        display: block;
        height: 145px;
        height: 85px;
        margin: auto;
    }

    .back-button {
        width: 5%;
        height: 30px;
        width: 30px;
        margin: auto;
        cursor: pointer;
        padding-left: 80px;
        padding-right: 30px;
    }

    .logo {
        float: left;
        background-color: var(--colour-purple);
        color: var(--colour-white);
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        padding-left: 65px;
    }
    
    .icon-bar-nav {
        width: 15%;
        margin: auto;
    }

    .icon-bar-nav > * {
        margin-left: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav {
        height: 35px;
        background: var(--colour-green);
        padding-top: 90px;
        border-radius: 0 0 20px 20px;
        text-align: center;
    }

    .nav a {
        color: var(--colour-white);
        text-decoration: none;
        padding: 14px 16px;
        font-size: 25px;
    }
      
    .box-1 {
        margin: 30px;
        display: flex;
        justify-content: center;
    }


    /* ELEMENT DESIGN */
    .cover {
        width: 25vw;
        height: 25vw;
        margin: 1vw;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 0 var(--colour-grey);
        /* display: flex; */
    }

    .album-title {
        font-size: 2vw;
        margin-top: 1vw;
        margin-left: 1.2vw;
        color: var(--colour-black);
    }
    .singer {
        color: var(--colour-grey);
        margin-left: 1.2vw;
        font-size: 1.8vw;
    }

    .heart {
        display: flex;
        margin: 0;
        margin-top: 20vw;
        margin-left: 27vw;
        width: 3vw;
        height: 3vw;
        cursor: pointer;
    }

    .price-heart-cart {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 1vw;
    }

    .price {
        background-color: #F7EDE1;
        padding: 0.5vw;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin: 0;
        font-size: 1.8vw;
        height: 2vw;
        width: 6.5vw;
        margin-top: 20vw;
        color: var(--colour-black);
    }

    .cart {
        width: 4vw;
        height: 4vw;
        margin: 0;
        margin-top: 19.5vw;
        margin-left: 1.5vw;
        margin-right: 1vw;
        cursor: pointer;
    }

    body {
        font-family: var(--font-primary);
    }

    .top-part {
        margin: auto;
        width: 70%;
        height: 30%;
        justify-content:flex-start;
    }

    .description {
        margin: auto;
        width: 70%;
        justify-content: space-between;
    }


    h3 {
        font-family: var(--font-primary);
    }

    hr {
        padding-bottom: 2px;
    }

    p {
        font-family: var(--font-primary);
        font-size: 16px;
        color: var(--colour-grey);
    }
 

    .footer {
        font-family: var(--font-primary);
        text-align: center;
        text-decoration: none;
    }

    /* FOOTER */
    .footer {
        height: 130px;
        background-color: var(--colour-purple);
        border-radius: 20px 20px 0 0;
    }

    .subscribe-text {
        font-size: 16px;
        color: var(--colour-white);
        padding-bottom: 8px;
    }

    input {
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 5px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-white)
    }

    .subscribe-button {
        background-color: var(--colour-green);
        color: var(--colour-white);
        cursor: pointer;
    }

    .footer-link {
        padding-bottom: 2px;
    }

    .footer-link a {
        font-size: 16px;
        color: var(--colour-yellow);
        text-decoration: none;
        color: var(--colour-yellow);
        padding: 0px 15px;
    }

    .footer-link :hover {
        color: var(--colour-green);
    }

    .copyright-text {
        font-size: 16px;
        color: var(--colour-grey);
    }


        /* RESPONSIVE DESIGN */
    @media only screen and (max-width: 1185px) {
        .logo {
            visibility: hidden;
            margin: 0;
        }

        .nav {
            height: 55px;
            background: var(--colour-green);
            padding-top: 90px;
            border-radius: 0 0 20px 20px;
        }
        
        .icon-bar-nav {
            width: 25%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 600px) {
        .nav a {
            color: var(--colour-white);
            text-decoration: none;
            padding: 14px 16px;
            font-size: 18px;
            margin: 2px;
        }
    }

    @media only screen and (max-width: 865px) {
        .footer {
            height: 160px;
        }
        .icon-bar-nav {
            width: 20%;
            margin: auto;
        }
        .back-button {
            margin-right: 15vw;
        }
    }

    @media only screen and (max-width: 420px) {
        .footer {
            height: 190px;
        }
        .icon-bar-nav > * {
            margin-left: 5px;
            width: 25px;
            height: 25px;
        }
    }



    @media only screen and (max-width: 395px) {
        .footer {
            height: 165px;
        }
    }

    /* RESPONSIVE DESIGN */
    @media only screen and (max-width: 1185px) {
        .logo {
            visibility: hidden;
            margin: 0;
        }

        .confirmation {
            font-size: 25px;
        }

        .nav {
            height: 55px;
            background: var(--colour-green);
            padding-top: 90px;
            border-radius: 0 0 20px 20px;
        }
        
        .icon-bar-nav {
            width: 25%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 600px) {
        .nav a {
            color: var(--colour-white);
            text-decoration: none;
            padding: 14px 16px;
            font-size: 18px;
            margin: 2px;
        }
    }

    @media only screen and (max-width: 865px) {
        .footer {
            height: 160px;
        }
        .icon-bar-nav {
            width: 50%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 420px) {
        .footer {
            height: 190px;
        }
        .icon-bar-nav > * {
            margin-left: 5px;
            width: 25px;
            height: 25px;
        }
    }

    @media only screen and (max-width: 768px) {
        /* HEADER */
        .icon-bar {
            height: 155px;
        }

        .nav {
            visibility: hidden;
        }


        /* PRODUCT PART */
        .box-1 {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }

        .cover {
            width: 70vw;
            height: 70vw;
            border-radius: 10px;
            margin: auto;
            margin-top: 10vw;
        }
    
        .album-title {
            font-size: 6vw;
            margin-top: 7vw;
            margin-left: 15vw;
            margin-right: 15vw;
            color: var(--colour-black);
        }
    
        .heart {
            display: flex;
            margin: 0;
            margin-top: 4vw;
            margin-left: 18vw;
            width: 13vw;
            height: 13vw;
        }
    
        .price-heart-cart {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 15vw;
            margin-bottom: 5vw;
        }
    
        .price {
            padding-top: 2vw;
            padding-left: 2vw;
            border-radius: 5px;
            margin: 0;
            font-size: 5.5vw;
            height: 8vw;
            width: 22vw;
            margin-top: 5vw;
        }
    
        .cart {
            width: 14.5vw;
            height: 14.5vw;
            margin: 0;
            margin-top: 3.5vw;
            margin-left: 1.5vw;
            margin-right: 1vw;
        }

        /* FOOTER */
        .subscribe-text {
            font-size: 14px;
        }

        .footer-link a {
            font-size: 14px
        }

        .copyright-text {
            font-size: 14px;
        }

        .footer {
            height: 145px;
            margin-top: 60px;
        }
    }

    /* FOOTER RESPONSIBLE DESIGN */
    @media only screen and (max-width: 395px) {
        .footer {
            height: 165px;
        }
    }

    @media only screen and (max-width: 375px) {
        .footer {
            height: 180px;
        }
    }

    @media only screen and (max-width: 295px) {
        .footer {
            height: 200px;
        }
    }

    /* NAV BAR */
    @media only screen and (max-width: 610px) {
        /* .back-button {
            height: 30px;
            width: 30px;
            margin: 0 0 0 0;
            padding-left: 50px;
            padding-right: 0px;
        } */
        .icon-bar-nav {
            margin-right: 10vw;
        }
    }