@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

:root {
    --font-primary: "OCR A", ocr-a-extended;

    --colour-white: #FFFFFF;
    --colour-purple: #6553B0;
    --colour-green: #8AD3C3;
    --colour-black: #222222;
    --colour-yellow: #F6E61F;
    --colour-grey: #8F8F8F;
    }

    /* NAVIGATION */

    /* .icon-bar {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
        height: 85px;
        } */

    .icon-bar {
        display: flex;
        height: 85px;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
    }

    .icon-bar > a {
        width: 50%;
        display: block;
        height: 145px;
        height: 85px;
        margin: auto;
    }

    .back-button {
        height: 30px;
        width: 30px;
        /* margin: auto; */
        font-size: 30px;
        padding-top: 27.5px;
        /* margin-left: 85px; */
        cursor: pointer;
    }

    .newreleases {
        width: 15%;
        height: 85px;
        margin: auto;
        font-size: 30px;
        padding-top: 27.5px;
        color: var(--colour-white);
    }

    .logo {
        /* float: left; */
        height: 85px;
        width: 144.96px;
        background-color: var(--colour-purple);
        color: var(--colour-white);
        font-size: 40px;
        text-align: center;
        text-decoration: none;
    }
    
    .icon-bar-nav {
        width: 15%;
        margin: auto;
    }

    .icon-bar-nav > * {
        margin-left: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }


    .nav {
        height: 35px;
        background: var(--colour-green);
        padding-top: 90px;
        border-radius: 0 0 20px 20px;
        text-align: center;
    }

    .nav a {
        color: var(--colour-white);
        text-decoration: none;
        padding: 14px 16px;
        font-size: 25px;
    }

    a:hover {
        color: var(--colour-grey);
    }

    /* BODY */
    body {
        font-family: var(--font-primary);
    }


    /* PRODUCT LIST */
    .new-release-1 {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        }

    .new-release-2 {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        }

    /* PRODUCT-1 */        
    .box-1 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }
    .cover-1 {
        width: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 0 var(--colour-grey);
    }

    .title-1 {
        margin: 0 10px;
        font-size: 20px;
    }

    .singer-1 {
        margin-left: 10px;
        margin-bottom: 8px;
        color: var(--colour-grey);
        font-size: 16px;
    }

    .price-1 {
        height: 20px;
        background-color: #F7EDE1;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin-top: 4px;
    }

    .bar-1 {
        margin: 0 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bar-1 img {
        margin: 0;
        height: 45px;
        width: 45px;
        cursor: pointer;
    }

    .cart-1 {
        margin-right: 20px;
    }

    /* PRODUCT-2 */
    .box-2 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    .cover-2 {
        width: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 0 var(--colour-grey);
    }

    .title-2 {
        margin: 0 10px;
        font-size: 20px;
    }

    .singer-2 {
        margin-left: 10px;
        margin-bottom: 8px;
        color: var(--colour-grey);
        font-size: 16px;
    }

    .price-2 {
        height: 20px;
        background-color: #F7EDE1;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin-top: 4px;
    }

    .bar-2 {
        margin: 0 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bar-2 img {
        margin: 0;
        height: 45px;
        width: 45px;
        cursor: pointer
    }

    .cart-2 {
        margin-right: 20px;
    }

    /* PRODUCT-3 */
    .box-3 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    .cover-3 {
        width: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 0 var(--colour-grey);
    }

    .title-3 {
        margin: 0 10px;
        font-size: 20px;
    }

    .singer-3 {
        margin-left: 10px;
        margin-bottom: 8px;
        color: var(--colour-grey);
        font-size: 16px;
    }

    .price-3 {
        height: 20px;
        background-color: #F7EDE1;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin-top: 4px;
    }

    .bar-3 {
        margin: 0 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bar-3 img {
        margin: 0;
        height: 45px;
        width: 45px;
        cursor: pointer
    }

    .cart-3 {
        margin-right: 20px;
    }

    /* PRODUCT-4 */
    .box-4 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    .cover-4 {
        width: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 0 var(--colour-grey);
    }

    .title-4 {
        margin: 0 10px;
        font-size: 20px;
    }

    .singer-4 {
        margin-left: 10px;
        margin-bottom: 8px;
        color: var(--colour-grey);
        font-size: 16px;
    }

    .price-4 {
        height: 20px;
        background-color: #F7EDE1;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin-top: 4px;
    }

    .bar-4 {
        margin: 0 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bar-4 img {
        margin: 0;
        height: 45px;
        width: 45px;
        cursor: pointer
    }

    .cart-4 {
        margin-right: 20px;
    }

    /* PRODUCT-5 */
    .box-5 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    .cover {
        width: 200px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 0 var(--colour-grey);
    }

    .album-title {
        margin: 0 10px;
        font-size: 20px;
    }

    .singer {
        margin-left: 10px;
        margin-bottom: 8px;
        color: var(--colour-grey);
        font-size: 16px;
    }

    .price {
        height: 20px;
        background-color: #F7EDE1;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px 0 #8f8f8f7e;
        margin-top: 4px;
    }

    .product-icon {
        margin: 0 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-icon img {
        margin: 0;
        height: 45px;
        width: 45px;
        cursor: pointer
    }

    .cart {
        margin-right: 20px;
    }

    /* PRODUCT-6 */
    .box-6 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    /* PRODUCT-7 */
    .box-7 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    /* PRODUCT-8 */
    .box-8 {
        width: 220px;
        height: 380px;
        background-color: var(--colour-white);
        margin: 30px;
        box-shadow: 2px 2px 10px 0 var(--colour-grey);
        border-radius: 10px;
    }

    .change-page {
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }


    /* FOOTER */
    .footer {
        height: 130px;
        background-color: var(--colour-purple);
        border-radius: 20px 20px 0 0;
        text-align: center;
    }

    .subscribe-text {
        font-size: 16px;
        color: var(--colour-white);
        padding-bottom: 8px;
    }

    input {
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 5px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-white)
    }

    .subscribe-button {
        background-color: var(--colour-green);
        color: var(--colour-white);
        cursor: pointer;
    }

    .footer-link {
        padding-bottom: 2px;
    }

    .footer-link a {
        font-size: 16px;
        color: var(--colour-yellow);
        text-decoration: none;
        color: var(--colour-yellow);
        padding: 0px 15px;
    }

    .footer-link :hover {
        color: var(--colour-green);
    }

    .copyright-text {
        font-size: 16px;
        color: var(--colour-grey);
    }
