@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

:root {
    --font-primary: "OCR A", ocr-a-extended;

    --colour-white: #FFFFFF;
    --colour-purple: #6553B0;
    --colour-green: #8AD3C3;
    --colour-black: #222222;
    --colour-yellow: #F6E61F;
    --colour-grey: #8F8F8F;
    }

    body {
        font-family: var(--font-primary);
        text-align: center;
        text-decoration: none;
        background-color: var(--colour-green)
    }

    /* NAVIGATION */
    /* .icon-bar {
        display: flex;
        height: 85px;
        width: 100%;
        background-color: var(--colour-purple);
        border-radius: 0 0 20px 20px;
        position: fixed;
    }

    .icon-bar > a {
        width: 50%;
        display: block;
        height: 145px;
        height: 85px;
        margin: auto;
    } */

    .player {
        width: 40%;
        height: 40%;
    }

    .nav {
        width: 50%;
        background: var(--colour-purple);
        border-radius: 20px;
        box-shadow: 15px 15px 15px 0px var(--colour-grey);
        margin-left: 10%;
    }

    .nav a {
        color: var(--colour-white);
        text-decoration: none;
        /* padding: 14px 16px; */
        font-size: 30px;
    }

    .active {
        background-color: var(--colour-green);
        height: 12px;
        border-radius: 5px;
    }

    a:hover {
        color: var(--colour-grey);
    }

    /* MIDDLE PART */
    .middle-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10%;
    }



    /* FOOTER */
    .footer {
        height: 130px;
        background-color: var(--colour-purple);
        border-radius: 20px 20px 0 0;
    }

    .subscribe-text {
        font-size: 16px;
        color: var(--colour-white);
        padding-bottom: 8px;
    }

    input {
        height: 25px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 5px;
        font-family: var(--font-primary);
        box-shadow: 1px 1px 5px 0.5px var(--colour-white)
    }

    .subscribe-button {
        background-color: var(--colour-green);
        color: var(--colour-white);
        cursor: pointer;
    }

    .footer-link {
        padding-bottom: 2px;
    }

    .footer-link a {
        font-size: 16px;
        color: var(--colour-yellow);
        text-decoration: none;
        color: var(--colour-yellow);
        padding: 0px 15px;
    }

    .footer-link :hover {
        color: var(--colour-green);
    }

    .copyright-text {
        font-size: 16px;
        color: var(--colour-grey);
    }


    /* RESPONSIVE DESIGN */
    @media only screen and (max-width: 1185px) {
        .logo {
            visibility: hidden;
            margin: 0;
        }

        .confirmation {
            font-size: 25px;
        }

        .nav {
            height: 55px;
            background: var(--colour-green);
            padding-top: 90px;
            border-radius: 0 0 20px 20px;
        }
        
        .icon-bar-nav {
            width: 25%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 600px) {
        .nav a {
            color: var(--colour-white);
            text-decoration: none;
            padding: 14px 16px;
            font-size: 18px;
            margin: 2px;
        }
    }

    @media only screen and (max-width: 865px) {
        .footer {
            height: 160px;
        }
        .icon-bar-nav {
            width: 50%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 420px) {
        .footer {
            height: 190px;
        }
        .icon-bar-nav > * {
            margin-left: 5px;
            width: 25px;
            height: 25px;
        }
    }

    @media only screen and (max-width: 768px) {
        .icon-bar {
            height: 155px;
        }

        .confirmation {
            font-size: 30px;
            padding-top: 110px;
            padding-left: 20px;
        }

        .confirmation-image {
            margin-top: 60px;
        }

        .nav {
            visibility: hidden;
        }

        .ordernumber {
            font-size: 18px;
        }

        .subscribe-text {
            font-size: 14px;
        }

        .footer-link a {
            font-size: 14px
        }

        .copyright-text {
            font-size: 14px;
        }

        .footer {
            height: 145px;
            margin-top: 60px;
        }
    }

    @media only screen and (max-width: 395px) {
        .footer {
            height: 165px;
        }
    }